#saveBtn {
  font-weight: bold;
}

.abbr {
  font-weight: bold;
  margin: auto auto !important;
  
}

.mainDiv {
  text-align: center;
}

.name {
  margin: auto auto !important;
}

.trashBtn {
  background-color: white;
  border: none;
}

md-icon {
    vertical-align: middle;
}

// .cards {
//     padding: 0px 0px 24px 0px;
// }
// md-card.cards.mat-card {
//     padding: 0px 0px 24px 0px;
// }
